body{
	background-color:black;
}
header img{
	width:150px;
	
}
header div{
	width:fit-content;
	margin:0 auto;
}
nav{
	padding:1% 25%;
	display:flex;
	justify-content:space-between;
}
nav a{
	text-decoration:none;
	font-size:20px;
	color:#5ab2ff;
}
.hero{
	padding:5%;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.hero h1{
	color:#5ab2ff;
	text-align:center;
	width:100%;
}
.hero article{
	width:30%;
	color:white;
	text-align:center;
	margin:2% 0;
	height:450px;
}
.hero img{
	
	height:80%;
}
article p{
 color:#a4d1f9;}
